<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
    <h1>To-Do List App</h1>
    <h3>Add Activity</h3>
    <form action="/todos/new" method="post">
        <input type="text" name="title">
        <button type="submit">Add</button>
    </form>
    <a href="/todos">Home</a>
</body>
</html>