<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="box border">
        <table class="table table-borderless">
            <thead>
                <th><h1>To-Do List App</h1></th>
                <th><a href="/admin">Home</a></th>
            </thead>
        </table>
        <h3>Edit User</h3>
        <form action="/admin/update/<%= activityList.user_id %>" method="POST">
            <label for="name">Fullname: </label>
            <input type="text" value="<%= activityList.username %>" name="name">
            <br>
            <label for="email">Email: </label>
            <input type="text" value="<%= activityList.email %>" name="email">
            <br>
            <label for="phone">Phone: </label>
            <input type="text" value="<%= activityList.phone_num %>" name="phone">
            <br>
            <button type="submit">Edit</button>
            <a href="/admin">Cancel</a>
        </form>
    </div>
</body>
</html>